{% extends 'layout.html' %}
{% block body %}
<center>
    <h1> Problem #4 </h1>
</center>

<div class='container' style="width: 80%;height: 100%;border: 1px solid black;">
    <div class="container" style="width: 80%;border: 1px solid; padding: 5px;">
        Complete the “Overview: Brightcove Native SDK for Android” and “Step-by-Step: Simple
        Video App using the Native SDK for Android” at:
        https://sdks.support.brightcove.com/android/basics/overview-brightcove-player-sdk-androi
        d.html
        https://sdks.support.brightcove.com/android/basics/step-step-simple-video-app-using-nativ
        e-sdk-android.html
        and present the results. Bonus points if you can combine existing code samples.
    </div>
    <div class="container" style="width: 80%;border: 1px solid; padding: 5px;">Solution:
       <p> - I've created a new Project in Android Studio and was able to compile it without any issues</p>
       <p> - However, while trying to load the APK file into a AVD it was taking a long time </p>
       <p> - That being said, I have worked quite a lot with the sample applications while working at Ooyala as a TSE</p>
        <img style="height: 420px; width:680px;" src={{ url_for('static',filename="assets/studio.png")}} />

    </div>
    <div class="container" style="width: 80%;height: 20%;border: 1px solid; padding: 5px;">Notes
    </div>
    <div class="container" style="width: 80%;border: 1px solid; padding: 5px;">References

    </div>
</div>

{% endblock %}