{% extends 'layout.html' %}
{% block body %}
<center>
    <h1> Problem #4 </h1>
</center>

<div class='container' style="width: 80%;height: 100%;border: 1px solid black;">
    <div class="container" style="width: 80%;border: 1px solid; padding: 5px;">
    </div>
    <div class="container" style="width: 80%;border: 1px solid; padding: 5px;">Solution:
      
    </div>
    <div class="container" style="width: 80%;height: 20%;border: 1px solid; padding: 5px;">Notes

    </div>
    <div class="container" style="width: 80%;border: 1px solid; padding: 5px;">References
 
    </div>
</div>

{% endblock %}