{% extends 'layout.html' %}
{% block body %}
<center>
    <h1> Problem #7 </h1>
</center>


<div class='container' style="width: 80%;height: 100%;border: 1px solid black;">
    <div class="container" style="width: 80%;border: 1px solid; padding: 5px;">
        <p>This one is a popular request from customers, and there are many correct ways to do it -
        take a player and put it into a lightbox.</p>
       <p> There are examples on the Support site that you could use, or you could use any JS
        framework; however you’d like to do it.</p>
        <p>Please explain what you did as if you’re talking to a technical person who knows
        JavaScript but may be unfamiliar with the Player.</p>
    </div>
    <div class="container" style="width: 80%;border: 1px solid; padding: 5px;">Solution:
        <link href="//learning-services-media.brightcove.com/bc-player/plugins/still-watching/videojs.afk-monitor.css" rel="stylesheet">
        <video-js id="myPlayerID"
              data-video-id="3851380732001"
              data-account="1752604059001"
              data-player="HkZ9oXaHtZ"
              data-embed="default"
              data-application-id
              class="video-js"
              controls
              height=380px
              width=580px></video-js>
          <script src="https://players.brightcove.net/1752604059001/HkZ9oXaHtZ_default/index.min.js"></script>
          <br />
          <button onclick="changeVideo()">Change Video</button>
          <script src="//learning-services-media.brightcove.com/bc-player/plugins/still-watching/videojs.afk-monitor.js"></script>
    </div>
    <div class="container" style="width: 80%;height: 20%;border: 1px solid; padding: 5px;">Notes
        <p>- I've tried combining the 'AFKMonitor' and Dynamic content change examples into one</p>
        <p>https://player.support.brightcove.com/code-samples/brightcove-player-sample-are-you-still-watching.html</p>
        <p>https://player.support.brightcove.com/code-samples/brightcove-player-sample-loading-player-dynamically.html</p>
    </div>
    <div class="container" style="width: 80%;border: 1px solid; padding: 5px;">References
        <p>https://studio.support.brightcove.com/players/configuring-player-advertising-using-players-module.html
        </p>
        <p>https://player.support.brightcove.com/plugins/advertising-ima3-plugin.html#Ad_macros_and_the_serverUrl
        </p>
    </div>
</div>
<script>
    var myPlayer;

videojs.getPlayer('myPlayerID').ready(function() {
  myPlayer = this;
  myPlayer.play();
  var options = {"showMessageAfter": 1000,"pausePlayerAfter": 1000};
  myPlayer.AFKMonitor(options);
});

// +++ Get, load and play video +++
function changeVideo() {
  // Get the video object via the catalot
  myPlayer.catalog.getVideo("3851389913001", function(error, video) {
    // Load the video object into the player
    myPlayer.catalog.load(video);
    myPlayer.play();
  });
}
</script>
{% endblock %}