<nav class="navbar alert-success" >
    <div class="container-fluid">
        <div class="d-inline align-left"><a href="/"><img  src={{ url_for('static',filename="assets/ooo_logo.png")}}
                style="width:185px; height:43px;"></img></a>
              <p class="d-inline alert-heading text-center ">Technical Assessment</p>
        </div>
        <div class="container d-inline justify-content-center w-25 mb-0 px-2">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes ">
            {% for category, message in messages %}
              <li class="{{ category }}"><p class="d-inline alert-heading text-center">{{ message }}</p></li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        </div>
        <form class="form-inline ml-auto">
                <input type="text" class="form-control mr-3" placeholder="Search">
                <button class="btn btn-primary">Search</button>
            </form>
    </div>
</nav>


