{% extends 'layout.html' %}
{% block body %}

  <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
    <p><a href="/1">Problem #1</a></p>
  </div>
  <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
    <p><a href="/2">Problem #2</a></p>
  </div>
  <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
    <p><a href="/3">Problem #3</a></p>
  </div>
  <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
    <p><a href="/4">Problem #4</a></p>
  </div>
  <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
    <p><a href="/5">Problem #5</a></p>
  </div>
  <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
    <p><a href="/6">Problem #6</a></p>
  </div>
  <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
    <p><a href="/7">Problem #7</a></p>
  </div>
  <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
    <p><a href="/8">Problem #8</a></p>
  </div>
{% endblock %}