{% extends 'layout.html' %}
{% block body %}

<table class="center">
  <thead>
    <tr>
      <th style="width: 10%;">
        <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
          <p><a href="/1">Problem #1</a></p>
        </div>
        <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
          <p><a href="/2">Problem #2</a></p>
        </div>
        <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
          <p><a href="/3">Problem #3</a></p>
        </div>
        <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
          <p><a href="/4">Problem #4</a></p>
        </div>
        <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
          <p><a href="/5">Problem #5</a></p>
        </div>
        <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
          <p><a href="/6">Problem #6</a></p>
        </div>
        <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
          <p><a href="/7">Problem #7</a></p>
        </div>
        <div class='container'style="width: 80%;height: 100%;border: 1px solid black;" >
          <p><a href="/8">Problem #8</a></p>
        </div>
      </th>
      <th style="width: 100%">
        <h1>Demo using local and cloud instance</h1>
        <div style="position: relative; display: block; max-width: 640px;">
          <div style="padding-top: 56.25%;">
              <video
                  id="brightcovePlayer"
                  data-account="6262703674001"
                  data-player="MCHbWfEwg"
                  data-embed="default"
                  data-video-id="6267217102001"
                  data-application-id
                  class="video-js" controls style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></video>
          </div>
      </div>
          <script src="//players.brightcove.net/6262703674001/MCHbWfEwg_default/index.min.js">
          </script>"></script>
      <script>
          var brightcovePlayer;
          videojs("brightcovePlayer").ready(function(){
              brightcovePlayer = this;
              document.getElementById("playButton").addEventListener("click", function(){
                  brightcovePlayer.play();
              });
          });
      </script>

      </th>
    </tr>
  </thead>
  </table>

{% endblock %}